.container_logo {
  display: flex;
  align-items: center;
  color: #ff2525;
  font-size: 2rem;
}
.container_logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}
.container_logo span:nth-child(1) {
  color: #fff;
}
.container_logo span:nth-child(2) {
  color: #ff2525;
}
